.js-nav--is-open, .js-search--is-open {
	overflow: hidden; //prevent body scrolling when mobile nav or search is open

	@include mq(sm) {
		overflow: initial;
	}
}

.js-nav--is-open {
	.c-menu__toggle {
		background-color: $darkTeal;

		&:focus {
			background-color: $teal;
		}
	}

	.c-menu-list {
		opacity: 1;
		z-index: 1;

		@include mq(sm) {
			z-index: 0;
		}
	}
}

.js-search--is-open {
	.c-search__toggle {
		background-color: $darkTeal;
	}

	form {
		//requires display: flex to be added via JS
		opacity: 1;
		z-index: 1;

		@include mq(sm) {
			z-index: 0;
		}
	}
}

.js-submenu--is-open {
	.c-menu-list__submenu {
		max-height: 20em;
		border-top: 2px solid rgba($mint, 0.3);

		.c-menu-list__item {
			opacity: 1;
			transition: opacity 250ms ease-out 30ms; //fade in transition timing
		}
	}
}