@mixin box($imp:null) {
  padding: 2.37037em $imp;
  border-radius: 10px $imp;
  border-style: solid $imp;
  border-width: 1px $imp;
  border-color: #c1b394;
  background-color: hsla(0,0%,100%,.95) $imp;
  backdrop-filter: blur(6px) grayscale(33%) $imp;
}