.u-sans-serif {
  @include font-sans(!important);
}

.u-serif {
  @include font-serif(!important);
}

.u-highlight-txt--primary {
	color: $khaki !important;
}

.u-highlight-txt--white {
	color: $white !important;
}