//////////////////////////
// !THEME / GENERIC / HTML
//////////////////////////


html {
  //@include font-serif;
  //@include roman;
  font-weight: 400;
}

[hidden] {
	display: none !important;
}

* {
	&:focus {
		outline: 4px solid #d43900;
	}
}