{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{%
	set classes = [
		'block',
		'block-menu',
		'navigation',
		'menu--' ~ derivative_plugin_id|clean_class,
		'c-menu'
	]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-label="{{ configuration.label }}"{{ attributes.addClass(classes)|without('role', 'aria-label') }}>
	<button aria-expanded="false" class="c-menu__toggle dcf-u-capitalize dcf-c-btn dcf-u-lg2 dcf-u-jc-center dcf-u-ai-center">
		<span class="c-hamburger dcf-u-flex dcf-u-ai-center dcf-u-mr2">
			<span class="c-hamburger__patty"></span>
		</span>
		<span class="dcf-u-sr-only">Show main</span>
		menu
	</button>
	{# Label. If not displayed, we still provide it for screen readers. #}
	{% if not configuration.label_display %}
		{% set title_attributes = title_attributes.addClass('visually-hidden') %}
	{% endif %}
	{{ title_prefix }}
	{{ title_suffix }}

	{# Menu. #}
	{% block content %}
		{{ content }}
	{% endblock %}
</nav>

