{#
/**
 * @file
 * Theme override for the search form block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values, including:
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: A list HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template. Includes:
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 */
#}
{%
	set classes = [
		'block',
		'block-search',
		'container-inline',
		'c-search'
	]
%}
<div{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	{% if label %}
		<button aria-expanded="false" class="c-search__toggle dcf-u-capitalize dcf-c-btn dcf-u-lg2 dcf-u-ai-center dcf-u-jc-center">
			<span class="dcf-u-sr-only">Show</span>
{# 			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.03 24.03" fill="none" stroke="currentColor" width="24.03" height="24.03" class="c-search__icon dcf-u-mr2">
			<g>
				<circle cx="10.79" cy="10.79" r="9.79" style="stroke-linecap: round;stroke-linejoin: round;stroke-width: 2px"/>
				<line x1="23.03" y1="23.03" x2="17.71" y2="17.71" style="stroke-linecap: round;stroke-linejoin: round;stroke-width: 2px"/>
			</g>
			</svg> #}
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.03 25.03" fill="none" stroke="currentColor" width="25.03" height="25.03" class="c-search__icon dcf-u-mr2"><circle cx="11.29" cy="11.29" r="9.79" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"/><line x1="23.53" y1="23.53" x2="18.21" y2="18.21" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"/></svg>
			search
			<span class="dcf-u-sr-only">form</span>
		</button>
	{% endif %}
	{{ title_suffix }}
	{% block content %}
		{{ content }}
	{% endblock %}
</div>
