

{#
/**
 * @file
 * Theme override for a section heading field.
 *
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'c-btn',
    'c-btn--primary',
    'dcf-u-capitalize',
    'c-hero-banner__button'
  ]
%}

<div class="c-hero-banner__links">
	{% for item in items %}
	  <a href="{{ item.content['#url']|render }}"  {{ attributes.addClass(classes) }}>{{ item.content['#title'] }}</a>
	{% endfor %}
</div>

