//////////////////////////////
// !THEME / COMPONENTS / WEBFORMS
//////////////////////////////

// -------------------------------
// Drupal webform styles override
// ------------------------------
.webwebform-section-title {
  @include mt5;
}

.form-type-checkbox label {
    max-width: 36em;
}

.form-type-email, .form-type-textfield, .form-type-date {
  input {
    max-width: 100%;
  }
}

.button, .image-button {
  @include ml2;
  @include mr2;
}

.form-composite > legend,.label {
  @include regular;
}

.webform-submission-form {
  .form-item {
    @extend .dcf-c-form-group;
  }


  label + .form-text {
    @include mt1;

  }

  .form-text, .form-email, .form-tel {
    @extend .dcf-c-input-text;
  }

  .form-radio {
    @extend .dcf-c-input-control;
  }
}

.webform-element-help {
    border: 2px solid $color-body;
    background: $color-body;
}

.webform-confirmation__back {
  a, a:link {
    @include pt2;
    @include pr4;
    @include pb2;
    @include pl4;
    @include rounded;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    background-color: $color-link;
  }

  a:visited {
    color: #fff;
    border-color: $color-button-visited;
    background-color: $color-button-visited;
  }

  a:hover {
    color: #fff;
    border-color: $color-button-hover;
    background-color: $color-button-hover;
    transition: border $hover-on, background-color $hover-on;
  }

  a:active, {
    color: #fff;
    border-color: $color-button-active;
    background-color: $color-button-active;
  }
}

.c-fieldset-wrapper {
  & > legend {
    .fieldset-legend {
      @include font-serif;
      @include h2;
      @include mt5;
      @include mb1;
      color: $teal;
      @include bold;
    }
  }
}

//hide print-only fields on the Give a Lift application
.form-item-signature, .form-item-signed-date, .form-item-certifier-signature, .form-item-certifier-signed-date {
  display: none;
}