////////////////////////////////
// !THEME / COMPONENTS / BUTTONS
////////////////////////////////

main {

  .c-btn {
    @include pt2;
    @include pr4;
    @include pb2;
    @include pl4;
    // @include bold;
    @include rounded;
    display: inline-block;
    text-decoration: none;
  }


  // !Button Hierarchy

  // !Primary Button
  .c-btn--primary,
  .c-btn--primary:link {
    color: #fff;
    border: 1px solid $color-button;
    background-color: $color-button;
    transition: border $hover-off, background-color $hover-off;
  }

  .c-btn--primary:visited {
    color: #fff;
    border-color: $color-button-visited;
    background-color: $color-button-visited;
  }

  .c-btn--primary:hover {
    color: #fff;
    border-color: $color-button-hover;
    background-color: $color-button-hover;
    transition: border $hover-on, background-color $hover-on;
  }

  .c-btn--primary:active,
  .c-btn--primary.dcf-c-active {
    color: #fff;
    border-color: $color-button-active;
    background-color: $color-button-active;
  }


  // !Secondary Button
  .c-btn--secondary,
  .c-btn--secondary:link {
    color: $color-button;
    border: 1px solid currentcolor;
    background-color: #fff;
    transition: border $hover-off, background-color $hover-off;
  }

  .c-btn--secondary:visited {
    color: $color-button-visited;
    border-color: currentcolor;
  }

  .c-btn--secondary:hover {
    color: $color-button-hover;
    border-color: currentcolor;
  	background-color: lighten($color-button,55%);
    transition: border $hover-on, background-color $hover-on;
  }

  .c-btn--secondary:active,
  .c-btn--secondary.dcf-c-active {
    color: $color-button-active;
    border-color: currentcolor;
  }


  // !Inverse Button
  .c-btn--inverse {
    color: #fff;
    border: 1px solid currentcolor;
    background-color: rgba(0,0,0,.1);
    transition: border $hover-off, background-color $hover-off;
  }

  .c-btn--inverse:hover {
    background-color: rgba(0,0,0,.2);
    transition: border $hover-on, background-color $hover-on;
  }

}
