//////////////////////////////
// !THEME / COMPONENTS / HEADER
//////////////////////////////

.c-header {
	position: fixed;
	top: 0;
	background-color: $mint;
	@include flex;
	@include flex-row;
	@include flex-wrap;
	z-index: 3; // dcf-c-input-select:after has z-index 2

	@include mq(sm) {
		position: relative;
		left: 50%; // reset to dcf-o-full-width
		@include jc-between;
	}


	body:not(.path-frontpage) & {
		@include mq(sm) {
			//margin bottom on header mobile won't work because its fixed position
			@include mb7;
		}
	}

	a,
	button {
		@include txt-decor-none;
	}
}

a.c-skip-link {
		position: absolute;
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		height: 1px;
		width: 1px;
		word-wrap: normal;
		z-index: 9;
		text-decoration: none;
		top: 0;
		left: 50%;
		opacity: 0;
		transform: translateX(-50%) translateY(-100%); //add slidedown and opacity
		@include rounded-bottom;
		background-color: $darkTeal;
		transition: opacity 300ms ease-out, transform 200ms ease-out;
		backface-visibility: hidden;

		&:link, &:visited {
			color: $white;
		}

		&:focus {
			clip: auto;
			overflow: visible;
			height: auto;
			width: auto;
			padding: $length3 $length5;
			opacity: 1;
			transform: translateX(-50%) translateY(0);
		}
}

// ------------------------------------
// --- IE11 Fixes using modernizr class
// --- .acbn_no-objectfit
// --- for site branding
// ------------------------------------
.acbn_no-objectfit {
	.c-header {
		height: 10.3em;

		@include mq(466px) {
			height: 10.7em;
		}

		@include mq(515px) {
			height: 10.9em;
		}

		@include mq(529px) {
			height: 11.2em;
		}

		@include mq(552px) {
			height: 11.45em;
		}

		@include mq(577px) {
			height: 11.6em;
		}

		@include mq(sm) {
			height: auto;
		}
	}

	.c-header + section, .c-header + main {
		margin-top: 10.3em;

		@include mq(466px) {
			margin-top: 10.7em;
		}

		@include mq(510px) {
			margin-top: 10.9em;
		}

		@include mq(529px) {
			margin-top: 11.2em;
		}

		@include mq(552px) {
			margin-top: 11.45em;
		}

		@include mq(577px) {
			margin-top: 11.6em;
		}

		@include mq(sm) {
			@include mt0;
		}
	}
}
