//////////////////////////////
// !THEME / COMPONENTS / HEADER SEARCH
//////////////////////////////

//To ensure correct tab order we need to have two search forms, positioned in two places.
//On mobile the search form will be shown below the navigation in the DOM
.c-site-branding + .c-search {
	display: none;
}

.c-menu + .c-search {
	display: block;
}

@include mq(sm) {
	//On desktop the search form will be shown above the navigation in the DOM
	.c-site-branding + .c-search{
		display: block;
	}
	.c-menu + .c-search {
		display: none;
	}
}

.c-search {
	flex: 0 1 50%;
	max-width: 50%;

	@include mq(sm) {
		flex: 0 1 40%;
		@include flex;
		@include jc-flexend;
		@include ai-center;
		padding: 2.6em 5.6%; //can't assign percentage value to height due to different flex implementations
	}

	//mobile toggle button
	&__toggle {
		width: 100%;
		border-right: 0;
		border-bottom: 2px solid;
		border-color: $mint;
		background-color: $teal;
		color: $white;
		transition: background-color 350ms ease-out;
		cursor: pointer;
		@include flex;

		&:hover {
			background-color: $darkTeal;
		}

		&:focus {
			position: relative;
			z-index: 4; // to make outline appear on top
		}

		@include mq(sm) {
			@include none;
		}

		svg {
			pointer-events: none;
		}
	}

	&__icon {
		width: 0.8em;
		height: 0.8em;
		transform: translateY(-1px);
	}
}

.c-search form {
	opacity: 0;
	position: absolute;
	background-color: $darkTeal;
	width: 100%;
	left: 0;
	//mobile min height since search is short
	min-height: calc(100vh - 100%);
	overflow: scroll;
	@include flex;
	@include jc-center;
	@include ai-center;
	@include wrapper-mimic;
	z-index: 0;
	transition: opacity 300ms ease-out;

	@include mq(sm) {
		opacity: 1;
		position: static;
		left: initial;
		min-height: initial;
		min-height: unset;
		visibility: visible;
		background-color: transparent;
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
		@include jc-flexend;
		overflow: hidden;
	}

	.form-item {
		display: flex;
		flex: 1 0 65%;
		width: 65%;
		max-width:70%;
		margin: 0;

		@include mq(sm) {
			flex: 0 1 65%;
		}
	}

	.form-actions {
		flex: 0 1 auto;
	}

	input[type="search"] {
		width: 100%;
		height: 2.4em;
		@include b0;
		padding: 0.2em 0.5em;
		@include rounded-left;
		box-sizing: border-box;
		background-color: $white;
		transition: all 350ms ease-out;

		@include mq(sm) {
			border: 1px solid $teal;
		}
	}

	input[type="submit"] {
		height: 2.4em;
		padding: .2em 1em;
		border: 1px solid $white;
		border-left-color: transparent;
		color: $white;
		@include rounded-right;
		background-color: $teal;
		transition: all 350ms ease-out;

		&:hover, &:focus {
			background-color: mix($teal, $mint, 6.5%);
			color: $darkTeal;
			border-left-color: $darkTeal;
		}

		@include mq(sm) {
			border-color: $teal;
		}
	}
}

// ------------------------------------
// --- IE11 Fixes using modernizr class
// --- .acbn_no-objectfit
// --- for header search
// ------------------------------------
.acbn_no-objectfit {
 .c-search {
		@include mq(sm) {
			max-width: 40%;
		}
	}

	.c-search form {
		height: 50%;

		@include mq(sm) {
			height: auto;
			overflow: hidden;
		}
	}
}
