//////////////////////////////
// !THEME / COMPONENTS / MAIN MENU
//////////////////////////////
.c-menu {
	flex: 0 1 50%;
	max-width:50%;

	@include mq(sm) {
		flex: 0 1 100%;
		max-width: 100%;
	}

	//mobile toggle button
	&__toggle {
		@include flex;
		background-color: $teal;
		color: $white;
		width: 100%;
		border-left: 0;
		border-bottom: 2px solid;
		border-color: $mint;
		transition: background-color 350ms ease-out;
		cursor: pointer;

		&:hover {
			background-color: $darkTeal;
		}

		&:focus {
			position: relative;
			z-index: 4; // to make outline appear on top
		}

		@include mq(sm) {
			display: none;
		}
	}

	.c-hamburger {
		height: 0.8em;
		width: 1em;
		position: relative;
		transform: translateY(-1px);
		pointer-events: none;

		&__patty {
			width: 100%;
			height: 2px;
			background-color: $white;
			pointer-events: none;

			&:before, &:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $white;
				left: 0;
				pointer-events: none;
			}

			&:before {
				top: 0;
				transform: translateY(0.5px);
			}

			&:after {
				bottom: 0;
			}
		}
	}
}

.c-menu-list {
	position: absolute;
	opacity: 0;
	width: 100%;
	padding-left: 12%;
	padding-right: 12%;
	@include pt2;
	@include pb9;
	@include mb0;
	background-color: $darkTeal; //mobile background color
	z-index: 0;
	transition: opacity 300ms ease-out;
	//mobile scroll nav
	max-height: calc(100vh - 100%);
	overflow: scroll;

	@include mq(sm) {
		position: static;
		opacity: 1;
		visibility: visible;
		max-height: initial;
		overflow: initial;
		@include p0;
		@include flex;
		@include jc-between;
		background-color: transparent;
	}

	// generic .c-menu-list__item
	&__item {
		&:before {
			content: "\200B"; // add zero-width space
			position: absolute;
		}

		&:focus {
			position: relative;
			z-index: 10; //to make outline appear on top
		}

		button:focus, a:focus {
			position: relative;
			z-index: 4; //to make outline appear on top
		}

		a,
		button {
			color: $white;

			&:hover, &:focus {
				background-color: $teal;
			}

			@include mq(sm) {
				&:hover, &:focus {
					background-color: $darkTeal;
				}
			}
		}

		button {
			background-color: transparent;
			border: none;
		}

		&.has-child {
			&include mq(sm) {
				display: flex;
				flex-direction: column;
			}

			& > a,
			& > button {
				@include pb3;
			}
		}
	}

	// immediate .c-menu-list__item of .c-menu-list
	& > &__item {
		@include pt0;
		@include pb0;
		@include mb0;
		@include bold;
		border-bottom: 2px solid $white;

		@include mq(sm) {
			border-bottom: 0;
			@include regular;
			flex: 1 1 auto;
			background-color: $teal;
			align-self: flex-start;

			// &:first-child {
			// 	padding-left: 5.6%;

			// 	//when there is a submenu, the drop down needs to
			// 	//start from where the button begins not the list item
			// 	&.has-child {
			// 		.c-menu-list__submenu {
			// 			left: 26%;
			// 			right: unset;
			// 		}
			// 	}
			// }

			// &:last-child {
			// 	padding-right: 5.6%;
			// 	a,
			// 	button {
			// 		border-right: 0;
			// 	}

			// 	//when there is a submenu, the drop down needs to
			// 	//start from where the button begins not the list item
			// 	&.has-child {
			// 		.c-menu-list__submenu {
			// 			right: 26%;
			// 			left: unset;
			// 		}
			// 	}
			// }
		}

		&:first-child {
			@include mq(sm) {
				padding-left: 5.6%;

				//when there is a submenu, the drop down needs to
				//start from where the button begins not the list item
				&.has-child {
					.c-menu-list__submenu {
						left: 26%;
						right: unset;
					}
				}
			}

			@include mq(1100px) {
				&.has-child {
					.c-menu-list__submenu {
						right: 0;
					}
				}
			}
		}

		&:last-child {
			@include mq(sm) {
				padding-right: 5.6%;
				a,
				button {
					border-right: 0;
				}

				//when there is a submenu, the drop down needs to
				//start from where the button begins not the list item
				&.has-child {
					.c-menu-list__submenu {
						right: 26%;
						left: unset;
					}
				}
			}

			@include mq(1100px) {
				&.has-child {
					.c-menu-list__submenu {
						left: 0;
					}
				}
			}
		}

		& > a,
		& > button {
			@include pt5;
			@include pb5;
			@include block;

			@include mq(sm) {
				@include pt3;
				@include pb3;
				@include pl2;
				@include pr2;
				border-right: 1px solid rgba($mint, 0.3);
				min-width: 5em;
				height: 4.3em;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@include mq(993px) {
				height: initial;
				height: auto;
			}
		}

		&.has-child {
			display: flex;
			flex-direction: column;

			@include mq(sm) {
				position: relative; //for positioning submenu
			}

			& > a {
				// On mobile show the _link_ for the category (not the button)
				display: flex;

				@include mq(sm) {
					display: none;
				}
			}

			& > button {
				// On mobile hide the _button_ for the category (not the link)
				display: none;

				@include mq(sm) {
					display: flex;
				}
			}

			& > a,
			& > button {
				@include pb1;

				@include mq(sm) {
					@include pb3;
				}
			}

			& > button {
				@include mq(sm) {
					position: relative;
					flex: 1 1 auto;
					@include pr7;

					&:after {
						content:url(../../../images/logo/chevron-down.svg);
						position: absolute;
						height: 1em;
						width: 1em;
						top: 50%;
						transform: translateY(-73%);
						right: 0.75em;
					}
				}
			}
		}
	}

	&__submenu {
		@include regular;
		@include mb0;
		border: 1px solid transparent; //remove margin collapse
		list-style-type: disc;
		display: flex;
		flex-direction: column;

		@include mq(sm) {
			@include mt0;
			@include pl0;
			list-style: none;
			//hide submenu on desktop by default
			max-height: 0;
			transition: max-height 250ms ease-out;
			@include b0;
			//absolute positioning submenu on desktop
			position: absolute;
			background-color: inherit;
			bottom: 0;
			transform: translateY(100%);
			left: 0;
			right: 0;
			min-width: 12em; //so that if parent item is really narrow this will ensure child items are displayed at a reasonable width
		}

		.c-menu-list__item {
			color: $white;

			// Hide the duplicate navigation landing page item on mobile
			&:first-child {
				display: none;
			}

			@include mq(sm) {
				border-bottom: 1px solid rgba($mint, 0.3);
				@include mb0;
				min-height: 100%;
				opacity: 0; // prevent submenu child items from appearing faster than background-color
				transition: opacity 150ms ease-out; //fadeout transition timing

				// Show the duplicate navigation landing page item on desktop
				&:first-child {
					display: list-item;
				}

				&:last-child {
					border-bottom: 0;
				}
			}

			a,
			button {
				@include pt2;
				@include pb3;
				@include mb1;
				display: block;

				@include mq(sm) {
					@include mb0;
					@include pt3;
					@include pb3;
					@include pl2;
					@include pr2;
				}
			}
		}
	}
}

// ------------------------------------
// --- IE11 Fixes using modernizr class
// --- .acbn_no-objectfit
// --- for header main menu
// ------------------------------------
.acbn_no-objectfit {
	.c-menu-list {
		@include mq(sm) {
			overflow: visible;
		}

		&__submenu {
			.c-menu-list__item {
				a {
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
}
