.path-frontpage {
	.paragraph--type--section-heading {
		text-align: center;
	}

	.paragraph--type--section-content {
		text-align: center;

		p {
			margin-left: auto;
    	margin-right: auto;
    	@include lg2;
		}
	}

}