.c-hero-banner {

	display: flex;
	flex-flow: row wrap;

	@include mq(sm) {
		position: relative;
	}

	&__content {
		width: 100%;
		order: 2;
		padding-left: 5.6%;
		padding-right: 5.6%;
		@include pt7;
		@include pb8;
		background-color: $mint;
		border-bottom: 1px solid rgba($teal, 0.2);

		@include mq(sm) {
			position: absolute;
			left: 0;
			bottom: 10%;
			width: 55%;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		@include mq(md) {
			bottom: 20%;
		}
	}

	&__image {
		width: 100%;
		order: 1;

		@include mq(sm) {

		}

		img {
			width: 100%;
		}
	}

	&__button {
		@include mb2;

		@include mq(sm) {
			@include lg1;
		}
	}

	&__text {
		@include mq(sm) {
			@include lg3;
		}
	}
}