{#
/**
 * @file
 * Theme override to display help text for file fields.
 *
 * Available variables:
 * - descriptions: Lines of help text for uploading a file.
 *
 * @see template_preprocess_file_upload_help()
 */
#}

{%
set classes = [
   'dcf-c-form-help'
 ]
%}
<p {{ attributes.addClass(classes) }}>{{ descriptions|safe_join('<br />') }}</p>
